body {
  background-color: blueviolet;
  display: inline-block;
}

div {
  rotate: -45deg;
  zoom: 150%;
}

h3 {
  color: burlywood;
  font-style: italic;
  text-decoration: underline;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 20rem;
}
